[submodule "proto/api"]
	path = proto/api
	url = /Users/sivagirishramesh/Documents/Work/Temporal-dev/api
	branch = TQConfigPersistence
[submodule "proto/api-cloud"]
	path = proto/api-cloud
	url = https://github.com/temporalio/api-cloud
